@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf) format("truetype");
}
@font-face {
  font-family: "Inter-Bold";
  src: url(assets/fonts/static/Inter-Bold.ttf) format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Inter-Regular";
  src: url(assets/fonts/static/Inter-Regular.ttf) format("truetype");
  font-weight: 400; /*same as normal */
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url(assets/fonts/static/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

/*---------------------------------------CSS RESET--------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---------------------------------------CUSTOM VARIABLES--------------------------------------- */
:root {
  --small-font-size: 0.75rem;

  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

/*---------------------------------------BODY + GENERAL STYLES--------------------------------------- */
body {
  height: 100vh;
  font-family: "Inter", sans-serif; /*fallback incase 'inter font' doesn't work */
}

ul {
  list-style: none;
}
img {
  width: 100px;
  height: 100px;
  max-width: 100%;
  border-radius: 50%;
}

/*---------------------------------------CONTAINER STYLES---------------------------------------- */
.container {
  height: 100%;
  background-color: var(--grey-900);

  display: flex;
  flex-direction: column; /*attribution should text should go under card */
  justify-content: center;
  align-items: center;
}

/*---------------------------------------CARD STYLES---------------------------------------- */

.card {
  max-width: 375px;

  background-color: var(--grey-800);
  padding: 1.5em; /*might increase if card is too small */

  color: var(--white); /*all text inside card  except span text will be white */

  /*all the content inside card should be centered and stacked on top of each other */
  text-align: center;
}

p.card-title {
  margin-top: 0.85rem;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
}

p.extra-small-font.green {
  /* target 2nd paragraph */

  margin-top: 0.25rem;

  font-size: var(--small-font-size);
  font-family: "Inter-SemiBold", sans-serif;
  color: var(--green);
}
.card p:last-of-type {
  /* targets only 3rd paragraph */

  margin: 1.25rem 0 1.15rem 0; /*just want margin on top and bottom */

  font-size: var(--small-font-size);
  font-family: "Inter-Regular", sans-serif;
}

/*----------------------------------------NAV STYLES---------------------------------------- */
li {
  background-color: var(--grey-700);

  border-radius: 8px;
  padding: 0.51em;

  font-size: var(--small-font-size);
  font-family: "Inter-SemiBold", sans-serif;
}
li:not(:first-child) {
  /*selects all li except the first li  */

  margin-top: 1rem;
}
li:hover,
li:focus {
  background-color: var(--green);
  cursor: pointer;
  color: var(--grey-700);
}
a {
  /*make sure the link inherit font color of parent element(li)
  this fixes the bug where the font color wouldn't change  
  */
  color: inherit;
  text-decoration: none;
}

/*----------------------------------------ATTRIBUTION STYLES---------------------------------------- */
.attribution {
  font-size: var(--small-font-size);

  color: var(--white);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*------------------------------------------- MEDIA QUERIES------------------------------------------- */
/*MAKE SURE EVERYTHING LOOK OK ON SMALL SCREEN SIZE(320PX) AND LARGER SCREEN SIZE(1600PX) */

@media screen and (max-width: 400px) {
  .container {
    padding: 2em 1em; /*add  padding to container so card doesn't get too close to edges,more padding top/bottom than left/right */
  }
  .card {
    max-width: 295px; /*don't let card go past 295px */
  }
  p.card-title {
    font-size: 1rem;
  }
  .card p.extra-small-font {
    /*need high specificity to apply these new styles to this class */
    font-size: 0.59rem;

    text-wrap: nowrap; /* at around 370px the "front end developer and avid read text starts to wrap" */
  }
  li {
    font-size: 0.67rem;
  }
  .attribution {
    text-wrap: nowrap;
    font-size: 0.55rem;
  }
}
